
@font-face {
  font-family: 'CaviarDreams-Bold';
  src: url('CaviarDreams-Bold.eot?#iefix') format('embedded-opentype'),  url('CaviarDreams-Bold.woff') format('woff'), url('CaviarDreams-Bold.ttf')  format('truetype'), url('CaviarDreams-Bold.svg#CaviarDreams-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
