header{
    background-color: white;
    display: block;
    margin: 0 auto;
    font-family: 'CaviarDreams-Bold';
}
.center-block-main{
    margin: 0 auto;
    max-width: 998px;

}
.main-menu ul{
    list-style: none;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.navigate{
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.navigate ul{
    display: inline-flex;
}.navigate ul li{
     padding-right: 20px;
 }
.register-nav{

    padding-top: 9px;
    padding-right: 20px;
    float: right;
    display: inline-block;
}.register-nav ul{
     display: inline-flex;
 }.register-nav ul li:first-child{
      padding-right: 20px;
  }
.navigate ul li a{
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    color: #282a35;
    padding: 20px 15px;
    display: block;
}.navigate ul li a:hover{
     background-color: #ffffe6;
     border-bottom: 1px solid #282a35;
 }
.register-nav ul li a{
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    color: #282a35;
    padding: 20px 15px;
    display: block;
}.register-nav ul li a:hover{
     background-color: #ffffe6;
     border-bottom: 1px solid #282a35;
 }
/*--------dropdorwn მენიუ-------*/
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    visibility: hidden;
    position: absolute;
}
.dropdown-content li:hover{
    background-color: #fff;
}
.dropdown:hover ul{
    width: 150px;
    display: inline-block;
    visibility: visible;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    z-index: 1;
}
.dropdown:hover ul li{
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}
.dropdown-user{
    position: relative;
    display: inline-block;
}
.dropdown-content-user{
    position: absolute;
    display: none;
    top: 90px;
}
.dropdown-user:hover .dropdown-content-user{
    display: inline-block;
    z-index: 1;
}
/*    სლაიდერი    */

/*     სლაიდერის დასასრული     */

/* ----------- სექციები და გვერდითი მხარეები ------------ */
section{
    display: inline-block;
    background-color: cornsilk;
    width: 100%;
}section article{
     margin-top: -18px;
     overflow: auto;
 }section article h1{
      float: left;
  }
section .section-content ul {
    margin-left: 100px;
    list-style: none;
    display: inline-block;
}section .section-content ul li{
     float: left;
     margin-right: 15px;
     margin-top: 20px;
     width: 180px;
     padding: 0 5px;
     border: 1px solid white;
 }section .section-content ul li img{
      width: 180px;
      height: 180px;
  }
section .section-content ul li a{
    text-decoration: none;
}
form{
    float: right;
}
.search{
    background-color: #282a35;
    width: 150px;
    height: 25px;
    color: white;
    margin-left: 20px;
    transition: background-color 0.3s;
}
.search:hover{
    background-color: white;
    color: #282a35;
    border: 1px solid #282a35;
    cursor: pointer;
}
/*!
 * The important stuffs. The ones that you should copy-paste and use.
 */
section .paginate{
    background-color: white;
    display: block;
    margin-bottom: -15px;
}.paginate ul{
     margin-left: 37%;
     list-style: none;
     display: inline-flex;
 }section .paginate ul li{
      padding: 3px;
  }
/* --- დასასრული ! --- */
aside .aside-content ul>li{
    padding: 3px 0;
}
aside .aside-content ul>li>a{
    text-decoration: none;
}
section ul li p{
    text-align: center;
}

/*   RWD მენიუ   */
.container {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.responsive-menu{
    z-index: 1;
    display: none;
    position: absolute;
    right: 0;
}
.responsive-menu ul {
    background-color: #ffffe6;
    list-style: none;
    padding-left: 0px;
}
.responsive-menu ul li{
    padding: 5px;
}
.responsive-menu ul li:hover{
    background-color: white;
}
.responsive-menu ul li a{
    color: #333;
    text-decoration: none;
}
.responsive-menu ul li .dropdown-content{
    background-color: #ffffe6;
    position: absolute;
    right: 70px;
}
/*  END RWD Menu  */

/*------- Responsive Web Design --------*/

@media only screen and (max-width: 970px){
    .container{
        display: inline-block;
        cursor: pointer;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }
    .navigate{
        display: none;

    }
    .register-nav{
        display: none;
    }
}