.acc-nav{
  float: left;
  margin-left: 10%;
  margin-top: 50px;

}
.acc-nav h1{
  transition: background-color 0.3s;
  color: #282a35;
}
.acc-nav h1:hover{
  cursor: pointer;
  background-color: #282a35;
  color: white;
}
.content{
  float: right;
  margin-right: 20%;
  margin-top: 50px;
}
