.acc-nav{
  float: left;
  margin-left: 5%;
  margin-top: 50px;

}
.acc-nav h3{
  transition: background-color 0.3s;
  color: #282a35;
}
.acc-nav h3 a{
  text-decoration: none;
  color: #282a35;
}
.acc-nav h3 a:hover{
  color: white;
}
.acc-nav h3:hover{
  cursor: pointer;
  background-color: #282a35;
  color: white;
}
.content{
  float: right;
  margin-right: 10%;
  margin-top: 50px;
  width: 60%;
}
table{
  text-align: center;
  width: 100%;
}
table,th,td{
  border-top: 1px solid #282a35;
  border-collapse: collapse;
}
table th, td{
  padding-right: 10px;
}
table a{
  text-decoration: none;
  font-size: 12px;
  color: #282a35;
}
table .cart-del{
  color: #282a35;
  border: 1px solid #282a35;
  padding: 1px 4px;
  transition: background-color 0.3s;
  background-color: white;
  font-size: 12px;
}
table .cart-del:hover{
  background-color: #282a35;
  color: white;
}
.passw, .re-passw, .change{
  margin-bottom: 40px;
}
.passw{
  margin-left: 63px;
}
.change{
  margin-left: 33%;
  border: 1px solid #282a35;
  border-radius: 0px;
  transition: background-color 0.3s;
}
.change:hover{
  background-color: #282a35;
  color: white;
  cursor: pointer;
}
form .submit{
  transition: background-color 0.3s;
  background-color: white;

  border: 1px solid #282a35;
  border-radius: 0px;
}
form .submit:hover{
  background-color: #282a35;
  color: white;
  cursor: pointer;
}
.add-form form{
  width: 100%;
}
.form-content{
  margin: 0 20%;
}
.form-content *{
  margin-bottom: 50px;
}
.form-content .button{
  margin: 0 30%;
  border: 1px solid #282a35;
  transition: background-color 0.3s;
}
.form-content .button:hover{
  background-color: #282a35;
  color: white;
  cursor: pointer;
}