.acc-nav{
  float: left;
  margin-left: 10%;
  margin-top: 50px;

}
.acc-nav h1{

}
.acc-nav h1:hover{
  cursor: pointer;
  background-color: white;
}
.content{
  float: right;
  margin-right: 20%;
  margin-top: 50px;
}
