.signin{
    background-color: #80e0e5;
    width: 30%;
    height: 500px;
    margin-left: 33%;
    margin-top: 3%;
    border-radius: 3px;
}
.forma{
    
}
   .submit{
       width: 325px;
       height:2em;
	   margin:60px 40px;
	   cursor:pointer;
	   font-size:1em;
	   border:1px solid #eee;
       padding: 0 30px;
	   background:#eee;
	   border-radius:4px;
	   line-height:2em;
	   border:1px solid #aaa;
       font-family: sans-serif;
   }
   .submit:hover{
	-webkit-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       background: #10c19e;
}.email{
    width: 300px;
    height: 20px;
    margin-left: 50px;
    border-radius: 1px;
    background: #c2edef;
}.password{
    width: 300px;
    height: 20px;
    margin-left: 50px;
    border-radius: 1px;
    background: #c2edef;
}
.button{
    width: 325px;
    padding: 2px 10px;
    margin-left: 40px;
	   cursor:pointer;
	   font-size:1em;
	   border:1px solid #eee;
       padding: 0 30px;
	   background:#eee;
	   border-radius:4px;
	   line-height:2em;
    font-family: sans-serif;
    border:1px solid #aaa;
}.button:hover{
	-webkit-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgb(190, 209, 158) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       background: #10c19e;
}
p{
    margin-left: 37%;
}