body{
  background-color: white;
}
header{
    background-color: white;
    display: block;
    margin: 0 auto;
}
.center-block-main{
  margin: 0 auto;
  max-width: 998px;

}
.main-menu ul{
   list-style: none;
}
.logo{
    display: inline-block;
    vertical-align: middle;
}
.navigate{
    display: inline-block;
    vertical-align: middle;
}
.navigate ul{
    display: inline-flex;
}.navigate ul li{
    padding-right: 20px;
}
.register-nav{
    padding-top: 9px;
    padding-right: 20px;
    float: right;
    display: inline-block;
}.register-nav ul{
    display: inline-flex;
}.register-nav ul li:first-child{
    padding-right: 20px;
}
.navigate ul li a{
    text-decoration: none;
  border-bottom: 1px solid #ffffff;
  color: #282a35;
  padding: 20px 15px;
  display: block;
}.navigate ul li a:hover{
    background-color: #ffffe6;
  border-bottom: 1px solid #282a35;
}
.register-nav ul li a{
    text-decoration: none;
  border-bottom: 1px solid #ffffff;
  color: #282a35;
  padding: 20px 15px;
  display: block;
}.register-nav ul li a:hover{
    background-color: #ffffe6;
  border-bottom: 1px solid #282a35;
}
.dropdown{
    position: relative;
    display: inline-block;
}.dropdown-content{
    visibility: hidden;
    position: absolute;
}.dropdown-content li:hover{
    background-color: #fff;
}
.dropdown:hover ul{
    display: block;
    visibility: visible;
    background-color: #fff;
    z-index: 1;
    z-index: 10px;
}
section{
  background-color: white;
  display: inline-block;
  width: 60%;
  float: left;
}.watch-list{
  list-style: none;
  display: inline-block;
}.watch-list li{
  display: block;
  margin-left: 15px;
  margin-top: 20px;
  float: left;
  width: 180px;
  padding: 0 5px;
}
.watch-list li a img{
  width: 180px;
}
section ul li{
  margin-bottom: 50px;
}
section ul li a{
  text-decoration: none;
}
section ul li p{
  text-align: center;
}
/* aside */
aside{
  float: right;
  display: inline-block;
}
aside ul{
  list-style: none;
  margin-right: 100px;
}
/* end of aside */

/* pagination css */
div.pagination{
  padding: 3px;
  margin: 3px;
}
div.pagination a{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #AAAADD;
  text-decoration: none;
  color: #282a35;
}
div.pagination a:hover, div.pagination a:active{
  border: 1px solid #000099;
  color: #000;
}
div.pagination span.current{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #282a35;
  color: #FFF;
}
div.pagination span.disabled{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #EEE;
  color: #DDD;
}
.search-btn{
  background-color: #282a35;
  width: 200px;
  height: 25px;
  color: white;
  margin-left: 20px;
  transition: background-color 0.3s;
}
.search-btn:hover{
  background-color: white;
  color: #282a35;
  border: 1px solid #282a35;
  cursor: pointer;
}
.filter-btn{
  background-color: #282a35;
  width: 200px;
  height: 35px;
  color: white;
  margin-left: 20px;
  transition: background-color 0.3s;
}
.filter-btn:hover{
  background-color: white;
  color: #282a35;
  border: 1px solid #282a35;
  cursor: pointer;
}
.pages{
  text-align: center;
}
/* end */


/*footer{
  background-color: darkgrey;
  margin-top: 30px;
  display: flow-root;
  border-radius: 5px;
}footer ul{
  display: inline-flex;
  float: right;
  /* vertical-align: middle; */
  /*margin-right: 40px;
  list-style: none;
}footer ul li{
    margin-right: 15px;
    padding: 0 5px;
}
footer ul li img{
    width: 45px;
}footer p{
    display: inline-block;
    margin-left: 40%;
    font-size: x-large;
}*/
