body{
  background-color: white;
}
/*-------Section--------*/
section{
  background-color: white;
  display: inline-block;
  width: 60%;
  float: left;
}.watch-list{
  list-style: none;
  display: inline-block;
}.watch-list li{
  display: block;
  margin-left: 15px;
  margin-top: 20px;
  float: left;
  width: 180px;
  padding: 0 5px;
}
.watch-list li a img{
  width: 180px;
}
section ul li{
  margin-bottom: 50px;
}
section ul li a{
  text-decoration: none;
}
section ul li p{
  text-align: center;
}
/* aside */
aside{
  float: right;
  width: 38%;
  display: inline-block;
}
aside ul{
  list-style: none;
  margin-right: 100px;
}
/* end of aside */

/* pagination css */
div.pagination{
  padding: 3px;
  margin: 3px;
}
div.pagination a{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #AAAADD;
  text-decoration: none;
  color: #282a35;
}
div.pagination a:hover, div.pagination a:active{
  border: 1px solid #000099;
  color: #000;
}
div.pagination span.current{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #282a35;
  color: #FFF;
}
div.pagination span.disabled{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #EEE;
  color: #DDD;
}
.search-btn{
  background-color: #282a35;
  width: 200px;
  height: 25px;
  color: white;
  margin-left: 20px;
  transition: background-color 0.3s;
}
.search-btn:hover{
  background-color: white;
  color: #282a35;
  border: 1px solid #282a35;
  cursor: pointer;
}
.filter-btn{
  background-color: #282a35;
  width: 200px;
  height: 35px;
  color: white;
  margin-left: 20px;
  transition: background-color 0.3s;
}
.filter-btn:hover{
  background-color: white;
  color: #282a35;
  border: 1px solid #282a35;
  cursor: pointer;
}
.pages{
  text-align: center;
}
/* end */


@media only screen and (max-width: 1080px){
  .forma-search .search-box{
    margin-left: 20px;
    width: 200px;
  }
}